@import	url("https://fonts.googleapis.com/css?family=Archivo+Black|Kaushan+Script&display=swap");
@import url("components/container.css");


body{
font-family: 'Kaushan Script', cursive;
font-size: 20px;
background-color: rgb(218, 220, 221);
margin: 0;
}
h1{
font-family: 'Kaushan Script', cursive;
font-weight: bold;
color: blue;
}

.btn-discover{
	background-color: ;
	padding: 10px 30px;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	border-radius:4px;
	text-decoration:none;
	color: black;
	font-weight: bold;
	position:relative; 
	top: 450px;
}
.btn-discover: hover{
	color: black;
	transform: scale(1.3);
	box-shadow: 6px 6px 10px rgba(0,0,0,0.4);
}

.banner{
	background-image: url('https://www.voyages-iles-seychelles.com/image/seychelles/bandeau/catamaran_voile_croisiere_20170720171656.jpg');
	background-size: cover;
	text-align: center;
	height: 600px;
}

.banner a {
	color: blue;
	font-size: 20px;
}

.big{
	margin: 0,auto;
	background-size: cover;

}

.container {
	width: 900px;
	margin: 0 auto;
}

.continent{
	display: flex;
	margin-bottom: 50px;
	justify-content: space-between;
	flex-wrap: wrap;

}

h3{
	margin: 10px 10px;
	background-color:rgba(135,226,245) ;
	padding: 10px 30px;
	box-shadow: 13px 20px 2px rgba(106,147,150);
	border-radius:4px;
	text-decoration:none;
	color: black;
	font-weight: bold;
	top: 170px;
	display: flex;
}
h2{
	text-align: center;
	color: black;
	font-size: 40px;
}

.card{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	flex-basis: 100px;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 10px;
	width: 30%;
	height: 200px;
	box-shadow: 20px -18px 16px rgba(68, 185, 193);

}

.card img{
	width: 60%;
	background-color: rgba(68, 185, 193);
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgb(228, 231, 231 );
}

.com{
	box-shadow: 0px -18px 10px 0px;
	padding: 10px 50px;
	background-color:white;
}
.fabfa-instagram{
	text-decoration: center;
	display: flex`;
	margin: 0,auto;
}
